body{
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
nav {
    border:1px solid black;
}
header {
    border:1px solid black;
    width:100vw;
    height:5vh;
}
.logo {
    border:1px solid black;
}
.navbutton {

}

button.submit{
    font-size: 15px;
}