body{
    margin: 0 auto;
}
nav{
    border:1px solid black;
    width:100vw;
    height:7vh;
}
button{
    
}
header{
    border:1px solid black;
    width:100vw;
    height:40vh;
    background-image: url(/images/header-hero.webp);
    background-position:center;
}
.logo{
    border:1px solid black;
}
.navbutton {

}