body{
    margin: 0 auto;
}
nav{
    border:1px solid black;
    width:100vw;
    height:5vh;
}
header{
    border:1px solid black;
    width:100vw;
    height:5vh;
}
.logo{
    border:1px solid black;
}
.navbutton {

}